<mat-card class="page-card">
  <mat-card-title>Dodaj osobę</mat-card-title>

  <mat-card-content>
    <form #f="ngForm" (ngSubmit)="save()">
      <div class="form-grid">
        <mat-form-field appearance="outline">
          <mat-label>Imię</mat-label>
          <input matInput name="firstName" required [(ngModel)]="person.firstName" #firstName="ngModel" />
          @if (firstName.invalid && (firstName.dirty || firstName.touched)) {
            <mat-error>Imię jest wymagane</mat-error>
          }
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>Nazwisko</mat-label>
          <input matInput name="familyName" required [(ngModel)]="person.familyName" #familyName="ngModel" />
          @if (familyName.invalid && (familyName.dirty || familyName.touched)) {
            <mat-error>Nazwisko jest wymagane</mat-error>
          }
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>Wiek</mat-label>
          <input matInput type="number" name="age" min="0" [(ngModel)]="person.age" />
        </mat-form-field>
      </div>

      <h3 class="section-title">Adres</h3>

      <div class="form-grid">
        <mat-form-field appearance="outline">
          <mat-label>Miasto</mat-label>
          <input matInput name="city" [(ngModel)]="person.address.city" />
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>Ulica</mat-label>
          <input matInput name="street" [(ngModel)]="person.address.street" />
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>Kod pocztowy</mat-label>
          <input matInput name="postCode" [(ngModel)]="person.address.postCode" />
        </mat-form-field>
      </div>

      <div class="form-actions">
        <button mat-raised-button color="primary" type="submit" [disabled]="f.invalid">
          <mat-icon>save</mat-icon>
          Zapisz
        </button>

        <a mat-stroked-button routerLink="">
          <mat-icon>close</mat-icon>
          Anuluj
        </a>
      </div>
    </form>
  </mat-card-content>
</mat-card>
